ion-content {
  --background: #065e87;
}

#register {
  margin-top: 50px;
  --background: #065e87;
  border: 1px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

ion-toolbar {
  --background: #065e87;
}
