$hr-line-color: whitesmoke;

.img-button-red {
  width: 56px;
  height: 56px;
  --border-radius: 50%;
  --border-width: 100%;
}

.img-button-red:hover {
  width: 56px;
  height: 56px;
  --border-radius: 50%;
  --border-width: 100%;
  --border-color: #ffffff;
  --box-shadow: 2px 2px 8px 2px #d7d8da;
}

.img-button-green {
  width: 56px;
  height: 56px;
  --border-radius: 50%;
  --border-width: 100%;
}

.img-button-green:hover {
  width: 56px;
  height: 56px;
  --border-radius: 50%;
  --border-width: 100%;
  --border-color: #ffffff;
  --box-shadow: 2px 2px 8px 2px #d7d8da;
}

hr {
  border-top: 1px solid $hr-line-color;
  width: 95%;
}

@keyframes warningForward {
  from {
    width: 1.5px;
    opacity: 0;
  }
  to {
    width: 80px;
    opacity: 100%;
  }
}
@keyframes warningBackward {
  from {
    width: 80px;
    opacity: 100;
  }
  to {
    width: 1.5px;
    opacity: 0;
  }
}
