ion-content {
    --background:  #065E87;
}

#register {
    margin-top: 50px;
    --background:  #065E87;
    border: 1px solid #ffffff;
    border-radius: 5px;
    cursor: pointer;
}

ion-toolbar {
    --background:  #065E87;
}