<ion-header>
  <ion-toolbar>
    <ion-title>Fire Free</ion-title>
  </ion-toolbar>
</ion-header>

<ion-grid>
  <ion-row style="margin-top: 50px;">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-card routerLink="notification">
        <img src="../../assets/images/fire-menu.jpeg"/>
        <ion-card-header>
          <ion-card-title style="text-align: center;">Affected List</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="2"><ion-badge color="warning" style="margin-left: -30px;border-radius: 100%;">9</ion-badge></ion-col>
  </ion-row>
  <ion-row class="align-items-center" style="margin-bottom: 50px;">
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-card routerLink="registration">
        <img src="../../assets/images/reg-menu.jpeg"/>
        <ion-card-header>
          <ion-card-title style="text-align: center;">New Registration</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-grid>

  
