
.img-button-red {
    width: 56px;
    height: 56px;
    --border-radius: 50%;
    --border-width: 100%;
    --border-color: #ffffff;
    --box-shadow: 2px 2px 8px 2px #d7d8da;
}

.img-button-red:hover {
    width: 56px;
    height: 56px;
    --border-radius: 50%;
    --border-width: 100%;
    --border-color: #ffffff;
    --box-shadow: 2px 2px 8px 2px #d7d8da;
}

.img-button-green {
    width: 56px;
    height: 56px;
    --border-radius: 50%;
    --border-width: 100%;
    --border-color: #ffffff;
    --box-shadow: 2px 2px 8px 2px #d7d8da;
}

.img-button-green:hover {
    width: 56px;
    height: 56px;
    --border-radius: 50%;
    --border-width: 100%;
    --border-color: #ffffff;
    --box-shadow: 2px 2px 8px 2px #d7d8da;
}